<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" th:href="@{/css/app.css}">

    <title th:text="${title}"></title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

    <div class="alert alert-primary d-inline-block" role="alert" style="margin: 15px;" th:if="${#maps.isEmpty(cartProducts)}">
        Si desea agregar algún producto en el carrito, debe hacerlo ingresando al producto deseado desde la lista de productos.
    </div>

    <div style="margin: 15px;">
        <h2>Products in Cart</h2>
        <ul>
            <li th:each="entry : ${cartProducts}">
                <span>Id: <span th:text="${entry.key}"></span> - </span>
                <span>Name: <span th:text="${entry.value.name}"></span> - </span>
                <span>Price: <span th:text="${entry.value.price}"></span></span>
            </li>
        </ul>
        <p th:if="${#maps.isEmpty(cartProducts)}">Cart is empty.</p>
        <a th:if="${not #maps.isEmpty(cartProducts)}" th:href="@{/cart/removeAll}">Remove all products from cart</a>
    </div>
<div th:replace="~{fragments/footer :: footer}"></div> 

</body>
</html>